.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
    .column {
    flex:50%;
    margin: auto;
  }
 i{
    font-size: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: #8a8a8a;
}
.cover img{
    margin-top: 40px;
    height: auto;
    width: 80%;
    transform: translateX(35%);
    -webkit-transform: translateX(35%);
    transition: transform 1s ease;
    box-shadow: 10px 10px 5px #252525;
    -moz-box-shadow: 10px 10px 5px #252525;
    -webkit-box-shadow: 10px 10px 5px #252525;
    -khtml-box-shadow: 10px 10px 5px #252525;
}
.cover{
    background-color: 252525;
  
    /* width: 50%; */
}
.container {
	max-width:400px;
	width:100%;
    
	margin:0 auto;
	position:relative;
    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    transition: transform 1s ease;
   
}


#contact input[type="text"], #contact input[type="email"],#contact button[type="submit"] 
{ font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif; }

#contact {
    border-radius: 10px;
	background:#252525;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #faca4f;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"] {
	width:100%;
	border:1px solid #CCC;
    border-radius: 5px;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}





#contact button[type="submit"] {
	cursor:pointer;
	width:50%;
	border:none;
    border-radius: 5px;
	background:#faca4f;
	color: #252525;;
	margin-top:15px;
	padding:10px;
	font-size:15px;
}

  @media screen and (max-width: 992px) {
    .column {
      flex: 100%;
    }
    .cover img{
        box-shadow: none;
        height: auto;
        width: 65%;
        position: relative;
    }
    .container {
        max-width:94%;
        width:100%;
        margin:0 auto;
        position:absolute;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 540px) {
    
    .container {
        max-width:auto;
        width:100%;
        margin:0 auto;
        position:relative;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
       
    }
}